// .locator{
//     font-weight: bold;
//     background-color: #FE5A59;
//     color: white;
//     font-size: 17pt;
//     text-align: center;
//     margin-left: 0px;
//     margin-right: 0px;
//     width: 100%;
//     height: 50px;
//     padding-top: 10px;
//     margin-top: -5px;
//     margin-bottom: 30px;
// }
.stand{
    background-color: white;
    color: #FE5A59;
    width: 101%;
    margin-bottom: 0px;
    height: 68px;
    font-size: 25px;
    border-bottom: solid 2px #999999;
    font-family: "Fira Sans";
}
.toolbar-title-ios{
    font-size: 18pt;
}
.button-block-ios{
    background-color: #FE5A59;
    border: solid 3px #999999;
    border-radius: 6px;
}
.toolbar-title-ios{
   color: white;
}
.toolbar-background-ios {
    background-color: #FE5A59;
}
.back-button-icon-ios{
    color:white;
}
.back-button-text-ios{
    color:transparent;
}
.polygon{
    margin-top: 2px;
    margin-left: 7px;
    width : 23x;
    height : 25px;
}