page-maps {

}
.maps{
    position: absolute;
    left: 20px;
}
.found{
    top: 85%;
}
.button-block-ios{
   background-color: #FE5A59; 
   width: 65%;
   margin: auto;
  

}
.button-ios{
        font-family: "fira sans";
        font-size: 2.1rem;
        font-weight: bold;

}