page-maps {

}
.maps{
    position: absolute;
    left: 20px;
}
// .locate{
//     top: 80%;
// }
.button-block-ios{
   background-color: #FE5A59; 
   width: 80%;
   margin: auto;
}
.button-ios{
        font-size: 2.6rem;
        font-weight: bold;
}
