// .element.style {
//     float: left;
// }

// .card-ios{
//     margin: 12px;
//     width: calc(100% - 24px);
//     font-size: 25px;
//     background: #fff;

// }
// .card-header-ios{
//     color: #FE5A59;
//     font-family: Fira Sans;
//     font-weight: bold;
// }


// .card-ios{
//     height: 65%;
// }

// .card-header-ios + .card-content-ios, .card-ios .item + .card-content-ios{
//     font-size: 18px;
//     text-align: center;
//         color: #FE5A59;

// font-weight: bold;
// }

// #sales-id{
//     margin-top: -3px;
//     font-size: 20px;
//     font-family: "fira sans";
//     font-weight: bold;
//     color: white;
//     text-align: center;
//     border: solid 2px #FE5A59;
//     background-color: #FE5A59;
//     padding: 8px;

// }

 .card{
 font-family: "fira sans";
 font-size: 18px;    
 font-weight: bold;
 color: #FE5A59;
 text-align: center;
margin-top: -15px;
 }


#women{
    border-bottom: solid 1px #999999; 
    padding-bottom: 10px;
}


 .hours{
 font-family: "fira sans";
 font-size: 18px;    
 font-weight: bold;
 color: #FE5A59;
 text-align: center;
margin-top: 5px;
border-bottom: solid 1px #999999; 
 }

 .button-block-ios{
         background-color: #FE5A59;
        height: 40px;

 }

// .bar-button::after{
//             background-color:transparent;
           
// }
.toolbar-title-ios{
    font-size: 13pt; 
    color: #FE5A59;
}
.back-button-text-ios{
    color: transparent;
}
.back-button-icon-ios{
    color: #FE5A59;
}


// .card-ios p{
//     font-size: 1.7rem;
//     color: #FE5A59;
//     margin: 0px 
   
// }



// element.style {
//     margin-top: 11%;
// }
.found{
    color: white;
  

}


// .button-block-ios{
//    background-color: #FE5A59; 
//    width: 80%;
//    top: 68%;
// }
.stands{
    text-align: center;
}
// .clock{

// }
.button-block-ios{
   background-color: #FE5A59; 
   width: 65%;
   margin: auto;

}
.button-ios{
        font-family: "fira sans";
        font-size: 2.1rem;
        font-weight: bold;

}
// .drop{
//     margin-right: 10px;
// }
