// .locator{
//     font-weight: bold;
//     background-color: #FE5A59;
//     color: white;
//     font-size: 17pt;
//     text-align: center;
//     margin-left: 0px;
//     margin-right: 0px;
//     width: 100%;
//     height: 50px;
//     padding-top: 10px;
//     margin-top: -5px;
//     margin-bottom: 30px;
// }
.searchbar{
    background-color: transparent;
    border: none;
}
.goToStands{
    background-color: white;
    color: #FE5A59;
    width: 101%;
    margin-top: 0px;
    margin-bottom: -11px;
    border-bottom: solid 3px #999999;
}
.button-block-ios{
    background-color: #FE5A59; 
}
.fork{
    margin-top: -10px;
    margin-left: 7px;
}
.tablet{
    margin-top: -5px;
    margin-left: 7px;
}
.shirt{
    margin-top: -10px;
    margin-left: 7px;
}
.shoe{
    margin-top: -5px;
    margin-left: 7px;
}
.music{
    margin-top: -10px;
    margin-left: 7px;
}
.polygon{
    margin-top: 2px;
    margin-left: 7px;
    width : 23x;
    height : 25px;
}
.musicicon{
    background-color: white;
    color: #FE5A59;
    width: 101%;
    margin-top: 11px;
    margin-bottom: -11px;
    border-bottom: solid 3px #999999;
    


}
.shirticon{
     background-color: white;
    color: #FE5A59;
    width: 101%;
    margin-top: 11px;
    border-bottom: solid 3px #999999;

   
}
.shoeicon{
     background-color: white;
    color: #FE5A59;
    width: 101%;
    margin-top: 11px;
    margin-bottom: -11px;
    border-bottom: solid 3px #999999 ;
}
.forkicon{
     background-color: white;
    color: #FE5A59;
    width: 101%;
    margin-top: 11px;
    margin-bottom: -11px;
     border-bottom: solid 3px #999999;
}