// .locator{
//     font-weight: bold;
//     background-color: #FE5A59;
//     color: white;
//     font-size: 17pt;
//     text-align: center;
//     margin-left: 0px;
//     margin-right: 0px;
//     width: 100%;
//     height: 50px;
//     padding-top: 10px;
//     margin-top: -5px;
//     margin-bottom: 30px;
// }
.searchbar{
    background-color: transparent;
    border: none;
}

.goToStands{
    background-color: white;
    color: #FE5A59;
    width: 101%;
    margin-bottom: -10px;
    border-bottom: solid 2px #999999;
    font-family: "Fira Sans"
}
.button-block-ios{
    background-color: #FE5A59; 
}
.fork{
    margin-top: -10px;
    margin-left: 8px;
}
.tablet{
    margin-top: -5px;
    margin-left: 7px;
}
.shirt{
    margin-top: -10px;
    margin-left: 7px;
}
.shoe{
    margin-top: -5px;
    margin-left: 5px;
}
.music{
    margin-top: -10px;
    margin-left: 9px;
}
.polygon{
    margin-top: 2px;
    margin-left: 7px;
    width : 23x;
    height : 25px;
}
.features{
    margin-top: -15px;
    margin-left: 7px;
}
.musicicon{
    background-color: white;
    color: #FE5A59;
    width: 101%;
    margin-top: 11px;
    margin-bottom: -5px;
    border-bottom: solid 2px #999999;
    font-family: "Fira Sans";
    


}
.shirticon{
     background-color: white;
    color: #FE5A59;
    width: 101%;
    margin-top: 3%;
    border-bottom: solid 2px #999999;
    font-family: "Fira Sans";
    font-weight: bold;
   
}
.shoeicon{
    border-top: solid 2px #999999 ;
     background-color: white;
    color: #FE5A59;
    width: 101%;
    margin-top: 3px;
    margin-bottom: -11px;
    border-bottom: solid 2px #999999 ;
    font-family: "Fira Sans";
    font-weight: bold
}
.forkicon{
     background-color: white;
    color: #FE5A59;
    width: 101%;
    margin-top: 11px;
    margin-bottom: -11px;
     border-bottom: solid 2px #999999;
     font-family: "Fira Sans";
}
.featuresicon{
    background-color: white;
    color: #FE5A59;
    width: 101%;
    margin-top: 11px;
    margin-bottom: -11px;
     border-bottom: solid 2px #999999;
     font-family: "Fira Sans";
}
 .toolbar-title-ios{
        font-family: "Fira Sans";
    }
.paramount{
        margin-top: -35px;
    }